img {
	float:left;
	width:225px;
	margin-right:20px;
}


h1, h3 {
	color:#B22222;
	margin-top:0px;
	font-family:Corbel;	
}

h3 {
	font-size:145%;
}

table {
	width:65%;
	border:1px solid black;
	border-collapse:collapse;	
}


td {
	border-right:1px solid black;
	padding-left:10px;	
	box-sizing: border-box;
	height: 2em;
}


.anio {
	background:#B0C4DE;
	font-size:115%;		
}


body {
	font-family:Verdana
}