h1, h3 {
	color:#B22222;
	margin-top:0px;
	font-family:Corbel;	
}

h3 {
	font-size:145%;
}
table{
	border:1px solid black;	
}

td {
	border-right:1px solid black;
}
.anio {
	background:#B0C4DE;
	font-size:115%;
}
div {
	background:blue;
}

body {
	font-family:Verdana
}